@font-face {
    font-family: Raleway-Bold;
    src: url(../font/Raleway-Bold.ttf);
}
@font-face {
    font-family: Raleway-Light;
    src: url(../font/Raleway-Light.ttf);
}
@font-face {
    font-family: Raleway-Regular;
    src: url(../font/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway-Medium;
    src: url(../font/Raleway-Medium.ttf);
}
@font-face {
    font-family: Socialico-Regular;
    src: url(../font/Socialico.ttf);
}