body {
    font-size: 1em;
}
.item{
    background-color: gray;
    font-size: 1.5em;
    color: white;
    min-height: 100px;
    margin-bottom: 10px;
}
.item-4  {
    font-size: 0.5em;
    padding: 10px;
    min-height: 200px;
}
.item-5 {
    font-size: 0.5em;
    min-height: 170px;
    padding: 10px;
    color: black;
    background-color: lightgray;
}
.item-6 {
    font-size: 0.5em;
    min-height: 100px;
    width: 150px;
    padding: 10px;
    color: black;
    background-color: lightgray;
}
.item-6-1 {
   margin-right: 10px;
    margin-bottom: 10px;
}
.item-8, .item-9 {
    font-size: 0.5em;
    min-height: 220px;
    padding: 10px;
    color: black;
    background-color: lightgray;
}
.item-10 {
    column-count: 2;
    font-size: 0.5em;
    height: 150px;
    padding: 10px;
}
.item-11 {
    font-size: 0.5em;
    height: 150px;
}
.item-12,  .item-13 {
    background-color: gray;
    font-size: 1.5em;
    color: white;
    min-height: 65px;
    margin-bottom: 10px;
}
.itemS-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.itemS-4-7 {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.itemS-12-13 {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.number{
    font-size: 0.7em;
    color: white;
    text-shadow: 2.5px 4.33px 5px rgba(0,0,0,0.75) ;
    position: absolute;
    padding: 5px;
}
.line {
    min-height: 1px;
    min-width: 100px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info {
    font-size: 0.5em;
    padding-top: 5%;
    padding-right: 5%;
}
.square {
    list-style: square;
    padding-top: 10px;
}
.nonumber{
    list-style: none;
    padding: 0;
}















.vikno{
    visibility: hidden;

    position: fixed;
    top: 10%;
    min-width: 33%;
    min-height: 30%;
    background: gainsboro;
    padding: 10px;
    left: 33%;
}